@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(75, 74, 74, 0.5);
    border-radius: 20px;
    border: transparent;
}

.fi-logo {
    @apply max-w-[250px];
}

#scanner__scan_region {
    @apply flex justify-center;
}

#html5-qrcode-button-camera-permission,
#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop {
    @apply relative grid-flow-col items-center justify-center font-semibold outline-none transition duration-75 focus-visible:ring-2 rounded-lg gap-1.5 px-4 py-3 text-sm inline-grid shadow-sm bg-slate-600 text-white hover:bg-slate-500 focus-visible:ring-slate-500/50 dark:bg-slate-500 dark:hover:bg-slate-400 dark:focus-visible:ring-slate-400/50 w-fit my-2.5;
}

#scanner__scan_region > video {
    @apply !rounded-xl !w-full;
}

#qr-shaded-region {
    @apply !rounded-xl;
}

#scanner__dashboard_section {
    @apply flex flex-col gap-2.5;
}

#scanner {
    @apply w-full !border-none;
}

img[alt="Info icon"] {
    @apply !hidden;
}

.fi-ta-image > div > div {
    @apply w-full;
}
