@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(75, 74, 74, 0.5);
    border-radius: 20px;
    border: transparent;
}

#scanner__scan_region > video {
    @apply !rounded-t-xl;
}

#qr-shaded-region {
    @apply !rounded-t-xl;
}

.fi-ta-image > div > div {
    @apply w-full;
}
